body {
    background-color:papayawhip;
    width: 100%;
    margin: 0 auto;
}

#wrapper {
    width: 0 auto;
    margin-left:auto;
    margin-right:auto;
    padding-top:5%;
}

/* #articles {
    display:inline-block;
    overflow:auto;
    width:60%;
    height:700px;
} */

.card {
    margin-bottom: 30px;
}

.card-link {
    color: #17a2b8;
}

/* #notes {
    float:right;
    width:30%;
} */

input,textarea {
    display:block;
    width:100%;
    background-color:white;
    margin-bottom: 20px;
    border-color: #eeeeee;

}

input {
    height:36px;
    font-size:24px;
}

textarea { 
    height:200px;
    font-size:18px;
}

.navbar-brand {
    font-family: 'Vesper Libre', serif;
    font-size: 36px;
}

.card-title {
    font-family: 'Vesper Libre', serif;
    font-size: 24px;
}